.App {
  text-align: center;


}

.navBase {
  width: 100%;
  height: 60px;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  font-size: 1.4rem;
  color: white;
  width: 25vw;
}

.searchForm {
  display: flex;
  margin-left: 10rem;
  width: 75%;
  justify-content: space-evenly;

  align-items: center;
}

input,
button,
select {
  font-size: 1.2rem;
  padding: .2rem;
  border: none;
}

input {
  border-radius: 5px;
}

select {
  border-radius: 5px;
}

button {
  border-radius: 5px;
  margin-left: .2em;
}

.mainNav {
  display: flex;

  width: 90%;
}

.cardBase {
  display: flex;
  justify-content: flex-start;

  width: 25%;
}

.cardLayout {
  display: flex;

  height: 100%;
}

.gitCardFollow {
  display: flex;
  width: 160px;
  border: 1px solid black;
  background: white;
  border-radius: 15px;
  margin: .5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gitCardFollow a {
  text-decoration: none;
  color: darkslategrey;

}

.gitCardImgFollow {
  width: 150px;
  height: 150px;
  border-radius: 3px;
}

.followers {
  display: flex;
  background: #B1B0B0;
  width: 75%;
  height: 100%
}

.followBase {
  display: flex;
  width: 75%;
  height: 100%;
  background: #B1B0B0;
  justify-content: center;
  flex-wrap: wrap;
}

.gitCard {
  display: flex;
  width: 200px;
  height: 500px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 2rem;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.gitCardImg {
  width: 200px;
  height: 200px;
}